<div class="container">
<h3 class="headerStyle">Assign Table</h3>
    <div class="row">
        <div class="col-xs-4">
            <form>
                <div class="form-group">
                    <label for="assTb">Assign Table</label>
                <select id="assTb" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
                    </div>
                
               <button type="submit" class="btn large-btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Assign</button>
               <a href="#/reservation-list"><button type="submit" class="btn large-btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Cancel</button></a>
             </form>
             </div>

        <div class="col-xs-8">
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="assignSeats-green img-rounded">
    </div>
    <div class="tb-details">Table#1</div>
        </div>
    <div class="col-xs-6 col-md-4">
        <div class="assignSeats-black img-circle">
        </div>
        <div class="tb-details">Table#2</div>
    </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="assignSeats-maroon img-rounded">
            </div>
            <div class="tb-details">Table#3</div>
        </div>
        <div class="col-xs-6 col-md-4">
        <div class="assignSeats-black img-circle">
        </div>
        <div class="tb-details">Table#4</div>
    </div>
        <div class="col-xs-6 col-md-4">
            <div class="assignSeats-green img-rounded">
            </div>
            <div class="tb-details">Table#5</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="assignSeats-maroon img-circle">
            </div>
            <div class="tb-details">Table#6</div>
        </div>
        <div class="col-xs-6">
            <div class="assignSeats-black img-circle">
            </div>
            <div class="tb-details">Table#7</div>
        </div>
    </div>

    </div>
</div>
</div>