<div class="tab-pane" id="tab-existing-reservation">
    <div class="row">
        <div class="col-md-6">test</div>
        <div class="col-md-6">
            <h3>Reservation Details</h3>
            <table id="existing_reservation_details_table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td>Date: </td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Time: </td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Name: </td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Phone: </td>
                    <td>(***) ***-****</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>abc@xyz.com</td>
                </tr>
                <tr>
                    <td>Members:</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>