<div class="tab-pane active" id="reservation">
    <h3 class="headerStyle">Reservation List</h3>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Reservation" id="inputSearch">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Reservation Code</th>
            <th>Name</th>
            <th>Date</th>
            <th>Guests</th>
            <th>Details</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="rs in rlistVm.reservations">
        
            <td>{{rs.reservation_code}}</td>
            <td>{{rs.name}}</td>
            <td>{{rs.date}}</td>
            <td>{{rs.guests}}</td>
            <td>
                <a ng-href="#/reservation-details/{{rs.reservation_code}}"><button class="btn btn-primary" title="Open Details">
                    <span class="glyphicon glyphicon-open-file"></span>
                </button></a>
            </td>
        </tr>
        </tbody>

    </table>
</div>