<div class="tab-pane active" id="reservation">
    <h3>Reservation List</h3>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Reservation" id="inputSearch">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Table No</th>
            <th>Reservation Code</th>
            <th>Name</th>
            <th>Date</th>
            <th>Guests</th>
            <th>Notes</th>
            <th>Details</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>1</td>
            <td>FD5YC</td>
            <td>Harshal Rana</td>
            <td>07-17-2015 7PM</td>
            <td>6</td>
            <td>Birthday Celebration</td>
            <td>
                <button class="btn btn-primary" title="Open Details">
                    <span class="glyphicon glyphicon-open-file"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>FD5YC</td>
            <td>Akash Patel</td>
            <td>07-18-2015 9PM</td>
            <td>3</td>
            <td>-</td>
            <td>
                <button class="btn btn-primary" title="Open Details">
                    <span class="glyphicon glyphicon-open-file"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>FD5YC</td>
            <td>Harshal Rana</td>
            <td>07-17-2015 7PM</td>
            <td>6</td>
            <td>Birthday Celebration</td>
            <td>
                <button class="btn btn-primary" title="Open Details">
                    <span class="glyphicon glyphicon-open-file"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>FD5YC</td>
            <td>Harshal Rana</td>
            <td>07-17-2015 7PM</td>
            <td>6</td>
            <td>Birthday Celebration</td>
            <td>
                <button class="btn btn-primary" title="Open Details">
                    <span class="glyphicon glyphicon-open-file"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>FD5YC</td>
            <td>Harshal Rana</td>
            <td>07-17-2015 7PM</td>
            <td>6</td>
            <td>Birthday Celebration</td>
            <td>
                <button class="btn btn-primary" title="Open Details">
                    <span class="glyphicon glyphicon-open-file"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>FD5YC</td>
            <td>Harshal Rana</td>
            <td>07-17-2015 7PM</td>
            <td>6</td>
            <td>Birthday Celebration</td>
            <td>
                <button class="btn btn-primary" title="Open Details">
                    <span class="glyphicon glyphicon-open-file"></span>
                </button>
            </td>
        </tr>
        </tbody>

    </table>
</div>