<div class="tab-pane" id="seating">
    <h3 class="headerStyle">Seating</h3>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Table No</th>
                    <th>Size</th>
                    <th>Status</th>
                    <th>Since</th>
                    <th>Reservation Code</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>1</td>
                    <td>6</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">10001</button></td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>6</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">10002</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">10003</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">10004</button></td>
                <tr>
                    <td>1</td>
                    <td>6</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">10005</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>6</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">10006</button></td>
                </tr>
               
                <tr>
                    <td>3</td>
                    <td>4</td>
                    <td>Available</td>
                    <td>-</td>
                    <td><button type="button" class="btn btn-link">-</button></td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-6">
            <div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="assignSeats-green img-rounded">
    </div>
    <div class="tb-details">Table#1</div>
        </div>
    <div class="col-xs-6 col-md-4">
        <div class="assignSeats-black img-circle">
        </div>
        <div class="tb-details">Table#2</div>
    </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="assignSeats-maroon img-rounded">
            </div>
            <div class="tb-details">Table#3</div>
        </div>
        <div class="col-xs-6 col-md-4">
        <div class="assignSeats-black img-circle">
        </div>
        <div class="tb-details">Table#4</div>
    </div>
        <div class="col-xs-6 col-md-4">
            <div class="assignSeats-green img-rounded">
            </div>
            <div class="tb-details">Table#5</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="assignSeats-maroon img-circle">
            </div>
            <div class="tb-details">Table#6</div>
        </div>
        <div class="col-xs-6">
            <div class="assignSeats-black img-circle">
            </div>
            <div class="tb-details">Table#7</div>
        </div>
    </div>
        </div>
    </div>
</div>