<div class="tab-pane" id="seating">
    <h3>Seating</h3>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Table No</th>
                    <th>Size</th>
                    <th>Status</th>
                    <th>Since</th>
                    <th>Reservation Code</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>1</td>
                    <td>6</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">FD5YC</button></td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>6</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">FD5YC</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">FD5YC</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">FD5YC</button></td>
                <tr>
                    <td>1</td>
                    <td>6</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">FD5YC</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>6</td>
                    <td>Occupied</td>
                    <td>7PM</td>
                    <td><button type="button" class="btn btn-link">FD5YC</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                    <td>Available</td>
                    <td>-</td>
                    <td><button type="button" class="btn btn-link">-</button></td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <div class="seats img-rounded">
                </div>
                <div><span>Table #1</span> <span>Occupied</span>
                    <span><button type="button" class="btn btn-link">FD5YC</button></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="seats img-circle">
                </div>
                <div><span>Table #2</span> <span>Occupied</span>
                    <span><button type="button" class="btn btn-link">FD5YC</button></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="seats img-circle">
                </div>
                <div><span>Table #3</span> <span>Available</span>
                    <span><button type="button" class="btn btn-link">-</button></span>
                </div>
            </div>
        </div>
    </div>
</div>